@import "tailwindcss";

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(6, 6, 6);
}

h1, h2, h3{
  font-family: 'DM Sans',sans-serif;
  color: #e5e5e5;
  font-weight: 500;
}
